.SideBar
  .LeftHeader
    .LeftHeader__list
      %p.LeftHeader__userName 
        = current_user.name
      %ul.LeftHeader__iconBox
        %li.LeftHeader__iconBtn
          = link_to new_group_path do
            = icon('fas', 'edit', class: 'LeftHeader__icon')
          %span<>
        %li.LeftHeader__iconBtn
          = link_to  edit_user_path(current_user.id) do
            = icon('fas', 'cog', class: 'LeftHeader__icon')
          %span<>

  .GroupList
    - current_user.groups.each do |group|
      .GroupList__box
        = link_to group_messages_path(group) do
          .GroupList__name 
            = group.name
          .GroupList__recentMessage
            = group.show_last_message


